In [12]:
# SQL Alchemy
from sqlalchemy import create_engine
import pandas as pd
from Postgres import username, password

In [13]:
# Path to sqlite    
from sqlalchemy import create_engine
engine = create_engine(f'postgres://{username}:{password}@localhost:5432/mystery_employee')
connection = engine.connect()

In [14]:
salaries_data = pd.read_sql("SELECT * FROM salaries",connection)
salaries_data

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]